<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.orangead.dailyreboot</string>
    <key>ProgramArguments</key>
    <array>
        <string>/sbin/shutdown</string>
        <string>-r</string>
        <string>+1m</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>{{ daily_reboot_hour | default(3) }}</integer>
        <key>Minute</key>
        <integer>{{ daily_reboot_minute | default(0) }}</integer>
    </dict>
    <key>RunAtLoad</key>
    <false/>
    <key>StandardErrorPath</key>
    <string>/var/log/orangead/dailyreboot.err.log</string>
    <key>StandardOutPath</key>
    <string>/var/log/orangead/dailyreboot.out.log</string>
</dict>
</plist>
