# System files
*.vagrant
.DS_Store
*.retry

# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
.venv/
venv/
ENV/

# Ansible
*.retry
ansible.log

# Environment logs
logs/
*.log

# Sensitive data
vault_password_file
