<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.orangead.macosapi</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ ansible_user_dir }}/orangead/macos-api/.venv/bin/uvicorn</string>
        <string>main:app</string>
        <string>--host</string>
        <string>0.0.0.0</string>
        <string>--port</string>
        <string>9090</string>
    </array>
    <key>WorkingDirectory</key>
    <string>{{ ansible_user_dir }}/orangead/macos-api</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PYTHONPATH</key>
        <string>{{ ansible_user_dir }}/orangead/macos-api</string>
        <key>TRACKER_ROOT_DIR</key>
        <string>{{ ansible_user_dir }}/orangead/tracker</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/var/log/orangead/macosapi.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/orangead/macosapi-error.log</string>
    <key>UserName</key>
    <string>{{ ansible_user }}</string>
    <key>GroupName</key>
    <string>staff</string>
</dict>
</plist>
