<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.orangead.tracker</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ ansible_user_dir }}/orangead/tracker/.venv/bin/python</string>
        <string>-m</string>
        <string>app</string>
    </array>
    <key>WorkingDirectory</key>
    <string>{{ ansible_user_dir }}/orangead/tracker</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>{{ ansible_user_dir }}/orangead/tracker/logs/tracker.out.log</string>
    <key>StandardErrorPath</key>
    <string>{{ ansible_user_dir }}/orangead/tracker/logs/tracker.err.log</string>
    <key>UserName</key>
    <string>{{ ansible_user }}</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>PYTHONPATH</key>
        <string>{{ ansible_user_dir }}/orangead/tracker</string>
        <key>PYTHONUNBUFFERED</key>
        <string>1</string>
    </dict>
</dict>
</plist>
