default_yolo_source: {{ tracker.default_yolo_source | default(0) }}
cam_id: {{ tracker.cam_id | default('macos-' + inventory_hostname) }}
cors:
  allowed_headers:
  - Content-Type
  allowed_methods:
  - GET
  - OPTIONS
  allowed_origins:
  - http://localhost:5173
  - {{ dashboard.url | default('http://localhost:3000') }}
counters:
  zone_counter:
    zones:
    - color:
      - 0
      - 0
      - 200
      name: main
      points:
      - - 0
        - 0
      - - 100
        - 0
      - - 100
        - 100
      - - 0
        - 100
default_model: {{ tracker.default_model | default('yolo12s.pt') }}
default_server_port: {{ tracker.server_port | default(8080) }}
