<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.orangead.watchdog</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ ansible_user_dir }}/orangead/scripts/watchdog.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>300</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>{{ ansible_user_dir }}/orangead/logs/watchdog.err.log</string>
    <key>StandardOutPath</key>
    <string>{{ ansible_user_dir }}/orangead/logs/watchdog.out.log</string>
    <key>KeepAlive</key>
    <true/>
    <key>ThrottleInterval</key>
    <integer>60</integer>
</dict>
</plist>
