<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.orangead.healthcheck</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ ansible_user_dir }}/orangead/scripts/healthcheck.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>900</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>{{ ansible_user_dir }}/orangead/logs/healthcheck.err.log</string>
    <key>StandardOutPath</key>
    <string>{{ ansible_user_dir }}/orangead/logs/healthcheck.out.log</string>
</dict>
</plist>
